@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+25&display=swap");

@import "tailwindcss";

@theme {
  --color-retro-bg: #ECE6C2;
  --color-retro-mustard: #D2A24C;
  --color-retro-red:#cc6b49;
  --color-retro-blue:#73BDA8;
  --color-retro-brown:#6f5643;

  --font-pixel25:'Jersey 25', sans-serif;
  --font-pixel15:'Jersey 15', sans-serif;
  --font-pixel10:'Jersey 10', sans-serif;
  
}